@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');

.yantramanav-thin,h2 {
  font-family: "Yantramanav", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.yantramanav-regular,h4 {
  font-family: "Yantramanav", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.assistant,h3,h1 {
  font-family: "Assistant", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

:root{
	--darc:#272829;
	--lite:#D8D9DA;
	--sec:#61677A;
	--acc:#FFF6E0;
}


body{
	padding-left:10px;
	padding-right:10px;
	margin:0;
	background-color:var(--darc);
	color:var(--lite);
}


body::-webkit-scrollbar {
  width: 5px;               
}

body::-webkit-scrollbar-track {
  background: var(--darc);        
}

body::-webkit-scrollbar-thumb {
  background-color: var(--lite);      
  border-radius: 5px;       
}



h1{
	font-size:64px;

}

h2{
	font-size:42px;
	width:fit-content;
}

h3{
	font-size:24px;
}

h4{
	font-size:16px;
	padding-left:50px;
}

a{
	display: block;
	color:var(--lite);
	max-width:fit-content;
}

.video{
	display:flex;
	flex-direction:column;
	align-items:center;
	padding:0;
	margin:0;
}
.row{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
}

.divide{
	display:flex;
	flex-direction:row-reverse;
	align-items:center;
	width:100;
	justify-content:space-between;
}

.example{ 
	padding:10px 50px 10px 0px; 
	margin-bottom:50px;
	border-radius:25px; 
	border:1px solid var(--lite); 
	max-width:fit-content;
}



@media only screen and (max-width: 450px) {
	.row>h2{
		font-size:64px !important;
	}
}

@media only screen and (max-width: 1000px) {
	.row{
		flex-direction:column;
	}
	.row>img{
		margin-left:0px !important;
		margin-right:0px !important;
	}

	.row>iframe{
		width:80vw !important;
		height:40vw !important;
		margin-top:50px;
	}
	
	.video>iframe{
		width:80vw !important;
		height:45vw !important;
	}

	.example>h4{
		text-align: justify;
	}
	

	section{
		margin-left:15px !important;
	}
	h1{
		font-size:42px;
	}

	h2{
		font-size:34px;
	}
	
	h3{
		font-size:20px;
	}
	
	h4{
		padding-left:10px;
	}
	ul{
		padding-left:0px;
	}

}
